*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    color:hsl(192, 15%, 94%);
    font-family: 'Ubuntu', sans-serif;
    --spacing: 4%;
    --main-color: hsl(168, 76%, 42%);
    --border-color: hsl(210, 29%, 60%);
}

.container {
    width: 100%;
    height: 100vh;
    background-color: hsl(210, 29%, 24%);
}

#month {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-color);
    align-items: center;
    height: 20vh;
    font-size: xx-large; /* change font size depending on window size */
}

#days {
    display: grid;
    grid-template-columns: repeat(7, calc(100vw / 7));
    grid-template-rows: repeat(7, calc(80vh / 7));
    text-align: center;
    font-size: medium;
}

#left-arrow {
    padding-left: var(--spacing);
}

#right-arrow {
    padding-right: var(--spacing);
}

#prior-days, #next-days {
    color:hsl(192, 16%, 60%);
}

#today {
    background-color: hsl(210, 29%, 50%);
    border: 0.2rem solid var(--border-color);
}

#days div:hover:not(#weekday):not(#today) {
    cursor: pointer;
    background-color: hsl(210, 29%, 40%);
    border: 0.2rem solid var(--border-color);
}