*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    color:hsl(192, 15%, 94%);
    font-family: 'Ubuntu', sans-serif;
    --spacing: 4%;
    --main-color: hsl(168, 76%, 42%);
    --border-color: hsl(210, 29%, 60%);
}

#date:hover {
    cursor: pointer;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: hsl(210, 29%, 24%);
}

#month {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-color);
    align-items: center;
    height: 20vh;
    font-size: xx-large; /* change font size depending on window size */
}

#days {
    display: grid;
    grid-template-columns: repeat(7, calc(100vw / 7));
    grid-template-rows: repeat(7, calc(80vh / 7));
    text-align: center;
    font-size: medium;
}

#left-arrow-inner, #left-arrow-outer {
    padding-left: var(--spacing);
}

#right-arrow-inner, #right-arrow-outer {
    padding-right: var(--spacing);
}

#left-arrow-inner:hover, #left-arrow-outer:hover, #right-arrow-inner:hover, #right-arrow-outer:hover {
    cursor: pointer;
}

#year-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    background-color: var(--main-color);
    width: 40vw;
    height: 60vh;
    margin-top: var(--spacing);
}

.top-year-content {
    display: inherit;
    position: inherit;
    width: 40vw;
    height: 10vh;
    font-size: 32px;
    text-align: center;
    padding-top: 1%;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#prior-days, #next-days {
    color:hsl(192, 16%, 60%);
}

#today {
    background-color: hsl(210, 29%, 50%);
    border: 0.2rem solid var(--border-color);
}

#days div:hover:not(#weekday) {
    cursor: pointer;
}

#days div:hover:not(#weekday):not(#today) {
    background-color: hsl(210, 29%, 40%);
    border: 0.2rem solid var(--border-color);
}